<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <div class="container bg-light mt-5 text-center">
        <div class="row">
            <div class="col">
                <h1>Welcome to the Burger Shop!</h1>
                <hr>
                <form>
                    <div class="form-group">
                        <label>Create a burger:</label>
                        <input type="text" class="form-control" id="namebox"
                            placeholder="Enter the name of the burger you'd like to create">
                    </div>
                    <button type="submit" class="btn btn-primary" id="namebtn">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <div class="container bg-light mt-5 text-center">
        <div class="row">
            <div class="col">
                <h3>Ready to eat</h3>
                <hr>
                <div id="ready"></div>
            </div>
            <div class="col">
                <h3>Devoured!</h3>
                <hr>
            </div>
            <div id="devoured"></div>
        </div>
    </div>
    </div>
    <script src="/public/assets/JS/index.js"></script>
</body>

</html>